USE [master]
GO
/****** Object:  Database [posDB]    Script Date: 4/4/2018 4:01:30 PM ******/
CREATE DATABASE [posDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'posDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\posDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'posDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\posDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [posDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [posDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/4/2018 4:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Code] [nvarchar](50) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCatagory]    Script Date: 4/4/2018 4:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCatagory](
	[productCatId] [int] IDENTITY(1,1) NOT NULL,
	[productCatName] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProductCatagory] PRIMARY KEY CLUSTERED 
(
	[productCatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Code], [Price]) VALUES (3, N'Wheet 500 gm', N'003', 80.0000)
INSERT [dbo].[Product] ([Id], [Name], [Code], [Price]) VALUES (5, N'Lux 200 gm', N'005', 36.0000)
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
